body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #370531,
    #2e3f7e,
    #007bb9,
    #00b5ca,
    #12ebb2
  );
  background-repeat: no-repeat;
  background-size: cover;
}
